{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SANBI</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Site styles -->
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom css -->
    {% block css %}{% endblock %}
  </head>
  <body{% block body_attributes %}{% endblock %}>
  	<header>
      <div class="container"><div class="row"><h1>South African species <span>information &amp; redlists</span></h1></div></div>
    </header>
      <div class="container"><div class="row">
        <a href="/" id="logo"><img src="{% static 'img/logo.png' %}" alt="Home"></a>

      <form action="{% url 'search_autocomplete' %}" method="get" class="navbar-form navbar-right">
        <div class="form-group form-group-sm">
          <input name="search" id="search" type="text" class="search-query form-control" autocomplete="off" placeholder="Enter common name, ecological traits, scientific names, etc." data-provide="typeahead" data-items="4" data-source="">
        </div>
        <button type="submit" class="btn btn-sm">Search species <span class="glyphicon glyphicon-search"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'lineage_pk' 4 %}">Explore species</a></li>
      </ul>

      </div></div>
  <div style="background-color: #888; text-align: right; padding: 10px 0; font-size: 0.8em; margin-bottom: 15px;">
    <div class="container"><div class="row">
      <a href="/about" style="color: white;">| National Red List categories</a> <a style="color: white;" href="/partners">| Partners |</a></div>
    </div></div>
    <!-- Banner heading -->
    {% block heading %}{% endblock %}
	
    <!-- Main content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
	  {% block subcontent %}{% endblock %}
  <footer><div class="container">SANBI website | Terms and conditions | Contact us</div></footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom js -->
    {% block js %}{% endblock %}
  </body>
</html>