{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'index.css' %}" rel="stylesheet">
<link href="{% static 'taxon.css' %}" rel="stylesheet">
{% endblock css %}

{% block heading %}
{% endblock %}

{% block content %}
<br><br><br><br><br>
<div class="row">
	<div class="col-md-8">
    <h1>National Red List Categories</h1>
    <p>South Africa uses the internationally endorsed IUCN Red List Categories and Criteria. This scientific system is designed to measure species' risk of extinction. The purpose of this system is to highlight those species that are most urgently in need of conservation action.</p>
    <p>Due to its strong focus on determining risk of extinction, the IUCN system does not highlight species that are at low risk of extinction, but may nonetheless be of high conservation importance. Because the South African Red List  is used widely in South African conservation practices such as systematic conservation planning or protected area expansion, we use an amended system of categories designed to highlight those species that are at low risk of extinction but are never the less of conservation concern for example range restricted endemic species.</p>
    <h3>Global and national (regional) assessments</h3>
    <p>The IUCN Red List categories and criteria are designed to be applied to the entire, or global, range of a species. Such assessments, which take into account the world-wide distribution range of a species, are known as <strong>global assessments</strong> and are included in the <a href="http://www.iucnredlist.org/">IUCN's international Red List of Threatened Species.</a></p>
    <p>However, the system also allows for assessments of geographical subsections of a species' global range. Such subsections are typically marked by a human-defined boundary, such as a country of provincial border. The assessments of such subsections are known as <strong>regional assessments</strong>, and use the same set of criteria as global assessments. However, if a species is not endemic to the region, the <a href="http://www.iucnredlist.org/documents/reg_guidelines_en.pdf">regional assessment procedures</a> contain an additional step to adjust the regional status to allow for the impact of individuals moving between populations within and outside the region on the extinction risk of the species within the region.</p>
    <p>The assessments contained on this National the Red List for South Africa are regional assessments, also called <strong>national assessments</strong>. This means that if species are not endemic to South Africa, only part of the species' distribution range falling within South Africa was evaluated in the assessment. Therefore a species' status on the national Red List may differ from its global status on the IUCN Red List. Where category adjustments were made according to regional assessment procedures, the adjusted status is indicated by the category abbreviation followed by an asterisk (*).</p>
    <h3>Definitions of the national Red List categories</h3>
    <p>Categories marked with <sup>N</sup> are non-IUCN, national Red List categories for species not in danger of extinction, but considered of conservation concern. The IUCN equivalent of these categories is Least Concern (LC).</p>
    <p><strong>Extinct (EX)</strong> A species is Extinct when there is no reasonable doubt that the last individual has died. Species should be classified as Extinct only once exhaustive surveys throughout the species' known range have failed to record an individual.</p>
    <p><strong>Extinct in the Wild (EW)</strong> A species is Extinct in the Wild when it is known to survive only in cultivation or as a naturalized population (or populations) well outside the past range.</p>
    <p><strong>Regionally Extinct (RE)</strong> A species is Regionally Extinct when it is extinct within the region assessed (in this case South Africa), but wild populations can still be found in areas outside the region.</p>
    <p><strong>Critically Endangered, Possibly Extinct (CR PE)</strong> Possibly Extinct is a special tag associated with the category Critically Endangered, indicating species that are highly likely to be extinct, but the exhaustive surveys required for classifying the species as Extinct has not yet been completed. A small chance remains that such species may still be rediscovered.</p>
    <p><strong>Critically Endangered (CR)</strong> A species is Critically Endangered when the best available evidence indicates that it meets at least one of the five IUCN criteria for Critically Endangered, indicating that the species is facing an extremely high risk of extinction.</p>
    <p><strong>Endangered (EN)</strong> A species is Endangered when the best available evidence indicates that it meets at least one of the five IUCN criteria for Endangered, indicating that the species is facing a very high risk of extinction.</p>
    <p><strong>Vulnerable (VU)</strong> A species is Vulnerable when the best available evidence indicates that it meets at least one of the five IUCN criteria for Vulnerable, indicating that the species is facing a high risk of extinction.</p>
    <p><strong>Near Threatened (NT)</strong> A species is Near Threatened when available evidence indicates that it nearly meets any of the IUCN criteria for Vulnerable, and is therefore likely to become at risk of extinction in the near future.</p>
    <p><strong>NCritically Rare (plants) - Extremely Rare (butterflies)</strong> A species is Critically / Extremely Rare when it is known to occur at a single site, but is not exposed to any direct or plausible potential threat and does not otherwise qualify for a category of threat according to one of the five IUCN criteria.</p>
    <p><strong>NRare</strong> A species is Rare when it meets at least one of four South African criteria for rarity, but is not exposed to any direct or plausible potential threat and does not qualify for a category of threat according to one of the five IUCN criteria. The four criteria are as follows:</p>
    <ul>
      <li>Restricted range: Extent of Occurrence (EOO) <500 km2, OR</li>
      <li>Habitat specialist: Species is restricted to a specialized microhabitat so that it has a very small Area of Occupancy (AOO), typically smaller than 20 km2, OR</li>
      <li>Low densities of individuals: Species always occurs as single individuals or very small subpopulations (typically fewer than 50 mature individuals) scattered over a wide area, OR</li>
      <li>Small global population: Less than 10 000 mature individuals.</li>
    </ul>
    <p><strong>Least Concern</strong> A species is Least Concern when it has been evaluated against the IUCN criteria and does not qualify for any of the above categories. Species classified as Least Concern are considered at low risk of extinction. Widespread and abundant species are typically classified in this category.</p>
    <p><strong>Data Deficient - Insufficient Information (DDD)</strong> A species is DDD when there is inadequate information to make an assessment of its risk of extinction, but the species is well defined. Listing of species in this category indicates that more information is required and that future research could show that a threatened classification is appropriate.</p>
    <p><strong>Data Deficient - Taxonomically Problematic (DDT)</strong> A species is DDT when taxonomic problems hinder the distribution range and habitat from being well defined, so that an assessment of risk of extinction is not possible.</p>
    <p><strong>Not Evaluated (NE)</strong> A species is Not Evaluated when it has not been evaluated against the criteria. Certain species do not qualify for national listing because they are naturalized exotics, hybrids (natural or cultivated), or synonyms. In certain cases species have not been assessed nationally as taxon specialists prefer to use only the Global Red List status.</p>
    <hr>
    <p>Threatened species are species that are facing a high risk of extinction. Any species classified in the IUCN categories <strong>Critically Endangered, Endangered</strong> or <strong>Vulnerable</strong> is a threatened species.</p>
    <p>Species of conservation concern are species that have a high conservation importance in terms of preserving South Africa's biodiversity and include not only threatened species, but also those classified in the categories <strong>Extinct in the Wild (EW), Regionally Extinct (RE), Near Threatened (NT), Critically/ Extremely Rare, Rare, Declining</strong> and <strong>Data Deficient - Insufficient Information (DDD).</strong></p>
	</div>
	<div class="col-md-4">
		<h2>Contact us</h2>
		<hr>
    <p><a href="http://www.sanbi.org/contact">Contact us on www.sanbi.org</a></p>
    <h3>Head Office</h3>
    <p>
    South African National Biodiversity Institute<br>
    Private Bag X101<br>
    Silverton, 0184<br>
    South Africa<br>
    Tel +27 (0)12 843 5000 Fax: +27 (0)12 804 3211<br>
    Physical Address: 2 Cussonia Ave, Brummeria, Pretoria.
    </p>
	</div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.0.1/trianglify.min.js"></script>
<script>
  $(document).ready(function() {
      // We are nesting all of these dones just so that trianglify can get the right height for his bg
      var params = {
        height: $('.triangles').outerHeight(),
        width: $('.triangles').outerWidth(),
        x_colors: 'Blues',
        y_colors: 'match_x'
      };
      var pattern = new Trianglify(params);
      $('.triangles').attr('style', 'background: url(' + pattern.png() + ') no-repeat center center');
  });
</script>
{% endblock %}