{% extends "website/taxon.html" %}
{% load static %}
{% load mptt_tags %}
{% load rest_framework %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'bib-list/bib-publication-list.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'bib-list/bib-list-custom.css' %}" type="text/css" />
{% endblock %}

{% block extra-js %}
<script src="{% static 'bib-list/bib-list.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // Display IUCN details if we can get em - e.g. http://api.iucnredlist.org/index/species/ciconia-abdimii.js
    var species = "{{ taxon }}".replace(/\s+/g,'-');
    console.log(species);
    $.ajax({
      dataType: "jsonp",
      url: 'http://api.iucnredlist.org/index/species/' + species + ".js",
      success: function (row) {
        if(row.length > 0) {
          var txt = '<a href="http://www.iucnredlist.org/details/' + row[0].species_id + '">';
          txt += '<span class="assessment assessment-' + row[0].category + '">' + row[0].category + ' (' + row[0].modified_year + ')</span>';
          txt += ' on IUCN global redlist ';
          txt += ' - View <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>';
          $(".iucn-check").html(txt);
        }
        else {
          var txt = '<a href="http://www.iucnredlist.org/">Not assessed on IUCN global redlist';
          txt += ' - Search <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>';
          $(".iucn-check").html(txt);
        }
      },
      failure: function () {
        // var txt = 'IUCN lookup service is temporarily down'; $(".iucn-check").html(txt);
      }
    });

    // Format the references
    bibtexify("#bibtex", "pubTable");

    // Fill in "how to cite"
    $.ajax({
      url: "{% url 'redlist_citation' id %}?format=json",
      success: function(citation, textStatus, jqXHR) { $('p.howtocite').html(citation); },
    });

    // Insert the habitat info
    $('#habitatNarrative').hide();
    $.ajax({
      url: "{% url 'taxa_detail' 0 %}".replace('0', id) + "?format=json",
      success: function(data, textStatus, jqXHR) {
        if(data['info']['habitat_narrative'].length) {
          $('#habitatNarrative').show();
          $('#habitatNarrative div').html(data['info']['habitat_narrative']);
          $('#habitatNarrative a').attr('href', "{% url 'taxa_detail' 0 %}".replace('0', id));
        }
      }
    });

    // Make the references clickable
    $('.references').hide();
    $('.glyphicon-chevron-down').hide();
    $('#referencesLink').click(function(event) {
      event.preventDefault();
      $('.references').toggle();
      $('.glyphicon-chevron-down').toggle();
      $('.glyphicon-chevron-up').toggle();
    });
  });
</script>
<script src="{% static 'assessment-logos.js' %}"></script>
{% endblock %}

{% block content_main %}
<nav class="redlist">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#"><strong>{{ date }}:</strong> {{ scope }}</a></li>
    <li role="presentation" class="disabled small-pill"><a href="#">No other assessments for this species</a></li>
    <li role="presentation" class="iucn-check small-pill">
      <a href="http://www.iucnredlist.org/">Check IUCN global redlist <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </li>
  </ul>
</nav>

<div class="row" id="redlist-summary">
  <div class="col-md-3"><div class="assessment-{{ redlist_category }}">
    <strong>{{ redlist_category_display }}</strong>
    <br>{{ redlist_criteria }}
  </div></div>
  <div class="col-md-9">
  {% for item in contribution_set %}
  {% ifchanged item.type %}
  {% if not forloop.first %}</div>{% endif %}
  <div class="contribution-type contribution-{{ item.type|lower }}"><strong>{{ item.type }}s:</strong>
  {% endifchanged %}
    <a href="{% url 'person_detail' item.person_id %}" role="button" class="btn btn-sm btn-default" >{{ item.person }}</a>
  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    {% if rationale %}
    <section id="species-info">
      <article><h2>Rationale{% if change_rationale %}
        <small>(Changed due to {{ change_rationale|safe }})</small>{% endif %}</h2> {{ rationale|safe }}
      </article>
      {% if distribution_narrative %}<article><h2>Distribution</h2>{{ distribution_narrative|safe }}</article>{% endif %}
      <!-- See js --><article id="habitatNarrative"><h2>Habitat <small><a href="">View more ecological information <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></small></h2><div></div></article>
      {% if population_narrative %}<article><h2>Population</h2>{{ population_narrative|safe }}</article>{% endif %}
      {% if population_trend_narrative %}<article id="poptrend">
        <h2>Population trend {% if population_trend_nature %} <small>{{ population_trend_nature }}</small>{% endif %}</h2>
        {{ population_trend_narrative|safe }}
      </article>{% endif %}
      {% if threats_narrative %}<article><h2>Threats</h2>{{ threats_narrative|safe }}</article>{% endif %}
      {% if use_trade_narrative %}<article><h2>Uses and trade</h2>{{ use_trade_narrative|safe }}</article>{% endif %}
      {% if conservation_narrative %}<article><h2>Conservation</h2>{{ conservation_narrative|safe }}</article>{% endif %}
      {% if research_narrative %}<article><h2>Research</h2>{{ research_narrative|safe }}</article>{% endif %}
      {% if conservation_actions %}<article><h2>Conservation and research actions</h2>{{ conservation_actions|safe }}</article>{% endif %}
    </section>
    <section class="species-footer">
      <article>
        <h2 id="{{ key }}Anchor"><a href="#" id="referencesLink" style="background-color: #d1ecff; padding: 5px 10px; border-radius: 5px; margin-top: 30px;"><span>References</span> <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="font-size: 0.7em;"></span><span style="font-size: 0.7em;" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></h2>
        <div class="item-info references">
          <table id="pubTable" class="display table"></table>
          <pre id="bibtex">[{% for a in references %}{{ a }},{% endfor %}]</pre>
        </div>
      </article>
      <article>
        <h2>How to cite this assessment</h2>
        <p class="howtocite">Relton C. 2016. A conservation assessment of Balaenoptera acutorostrata subsp. In Child MF, Roxburgh L, Do Linh San E, Raimondo D, Davies-Mostert HT, editors. The Red List of Mammals of South Africa, Swaziland and Lesotho. South African National Biodiversity Institute and Endangered Wildlife Trust, South Africa.</p>
      </article>
    </section>
    {% else %}
      <h2>This assessment is still under preparation.</h2>
    {% endif %}
  </div>
  <div class="col-md-2 assessment-aside">
    <h4 class="lead">Lead agencies</h4>
    <img src="{% static 'logos/adu.png' %}" style="display: none;">
    <h4 class="partner">Partners</h4>
    <h4 class="funder">Funders</h4>
  </div>
</div>

{% endblock %}