{% extends "website/taxon.html" %}
{% load static %}
{% load mptt_tags %}
{% load rest_framework %}

{% block content_main %}
{% for key, item in assessment.items %}
{% if item%}
<div class="row">
  <div class="col-md-9"><section id="species-info">
    <article>
      <h2 id="{{ key }}Anchor"><span>{{ key }}</span>{% if user.is_authenticated %}
      <button type="button" class="btn btn-info btn-sm info-modal-trigger" data-toggle="modal" data-target="#infoModal">Edit</button>{% endif %}</h2>
      <div class="item-info">{{ item|safe }}</div>
    </article>
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}