{% extends "website/taxon.html" %}
{% load static %}
{% load mptt_tags %}
{% load rest_framework %}

{% block extra-css %}
<link rel="stylesheet" href="{% static 'bib-list/bib-publication-list.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'bib-list/bib-list-custom.css' %}" type="text/css" />
{% endblock %}

{% block extra-js %}
<script src="{% static 'bib-list/bib-list.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    bibtexify("#bibtex", "pubTable");
  });
</script>
{% endblock %}

{% block content_main %}
<nav class="redlist">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#"><strong>{{ date }}:</strong> {{ scope }}</a></li>
    <li role="presentation" class="disabled small-pill"><a href="#">No other assessments for this species</a></li>
    <li role="presentation" class="iucn-check small-pill"><a href="http://www.iucnredlist.org/details/184188/0">Check IUCN global redlist <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
  </ul>
</nav>

<div class="row" id="redlist-summary">
  <div class="col-md-3"><div class="assessment-{{ redlist_category }}">
    <strong>{{ redlist_category_display }}</strong>
    <br>{{ redlist_criteria }}
  </div></div>
  <div class="col-md-9">
  {% for item in contribution_set %}
  {% ifchanged item.type %}
  {% if not forloop.first %}</div>{% endif %}
  <div class="contribution-type contribution-{{ item.type|lower }}"><strong>{{ item.type }}s:</strong>
  {% endifchanged %}
  <span class="contributor">{{ item.person }}</span>
  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <section id="species-info">
      <article><h2>Rationale{% if change_rationale %}
        <small>(Changed due to {{ change_rationale|safe }})</small>{% endif %}</h2> {{ rationale|safe }}
        </article>
      {% if notes %}<article><h2>Notes</h2>{{ notes|safe }}</article>{% endif %}

      {% if distribution_narrative %}<article><h2>Distribution</h2>{{ distribution_narrative|safe }}</article>{% endif %}

      {% if population_narrative %}<article><h2>Population</h2>{{ population_narrative|safe }}</article>{% endif %}
      {% if population_trend_narrative %}<article id="poptrend">
        <h2>Population trend {% if population_trend_nature %} <small>{{ population_trend_nature }}</small>{% endif %}</h2>
        {{ population_trend_narrative|safe }}
      </article>{% endif %}

      {% if threats_narrative %}<article><h2>Threats</h2>{{ threats_narrative|safe }}</article>{% endif %}
      {% if threats %}<article><!--<h2>Threats table</h2><hr>
       <table class="table table-striped">
          <thead>
            <tr><th>Severity</th><th>Timing</th><th>Threat</th></tr>
          </thead>
          <tbody>
          {% for i in threats %}
            <tr><td>{{ i.severity }}</td><td>{{ i.timing }}</td><td>{{ i.threat }}</td></tr>
          {% endfor %}
          </tbody>
        </table>--></article>{% endif %}
      {% if use_trade_narrative %}<article><h2>Uses and trade</h2>{{ use_trade_narrative|safe }}</article>{% endif %}

      {% if conservation_narrative %}<article><h2>Conservation</h2>{{ conservation_narrative|safe }}</article>{% endif %}
      {% if research_narrative %}<article><h2>Research</h2>{{ research_narrative|safe }}</article>{% endif %}
      {% if conservation_actions %}<article><h2>Conservation and research actions</h2>{{ conservation_actions|safe }}</article>{% endif %}
    </section>
    <section>
      <article>
        <h2 id="{{ key }}Anchor"><span>References</span></h2>
        <div class="item-info">
          <table id="pubTable" class="display table"></table>
          <pre id="bibtex">[{% for a in references %}{{ a }},{% endfor %}]</pre>
        </div>
      </article>
    </section>
  </div>
  <div class="col-md-3 assessment-aside">
    <h2>Additional info</h2>
    <!--{% for key, value in temp_field.items %}
      <strong>{{ key }}</strong>: {{ value }}<br>
    {% endfor %}-->
  </div>
</div>

{% endblock %}