{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'index.css' %}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock css %}

{% block heading %}

{% endblock %}

{% block content %}
<!--<div class="row">
	<div class="col-md-12">
		<div class="over-banner"><span style="font-weight: bold; font-size: 1.3em; margin-bottom: 11px; display: block;">The official Species Information and National Red List website</span>SANBI has partnered with Research Institutions and NGOs to document South Africa's species diversity and assess its threat status using the IUCN 3.1 Red List Categories and Criteria.
			Find information on species - their descriptions, ecological requirements, distribution and threat assessments.
			<a href="/about" role="button" class="btn btn-default btn-sm">Learn more <span class="glyphicon glyphicon-chevron-right"></span></a></div>
	</div>
</div>-->
<p style="line-height: 1.2em; margin: 20px 0; color: #555; font-size: 0.9em; ">Welcome to South Africa's official site for Species Information and National Red Lists; here you will find information on South African animal species including their descriptions, their ecological requirements, their distributions and documentation linked to threat assessments. The South African Biodiversity Institute has worked in partnership with host research institutions, and conservation NGOs to document our species diversity and assess its threat status using the IUCN 3.1 Red List Categories and Criteria.</p>

<div class="row">
	<div class="col-md-12">
		<!--<h2 class="main-heading">An overview of our data<br><small>(SANBI are working on adding new species and assessments)</small></h2>-->
		<canvas id="canvas" height="80"></canvas>
    <img src="{% static 'img/thumbnails.jpg' %}" style="margin-left: 60px;">
	</div>
</div>

<!--<div class="row">
	<hr>
	<div class="col-md-8" id="assessments">
		<h2>Latest assessments</h2><hr>
	</div>
	<div id="news" class="col-md-4">
		<h2 id="frontpage-news">Latest news <small>from <a href="http://www.sanbi.org/news">sanbi.org</a></small></h2>
		<hr>
		<div id="rss-feed"></div>
		<p class="rss-footer">Read more news on <a href="http://www.sanbi.org/news">sanbi.org</a></p>
	</div>
</div>-->
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script>
var chartDataUrl = "{% url 'redlist_statistics' %}?format=json";
var assessment_redirect = "{% url 'assessment_detail' 0 %}";
</script>
<script src="{% static 'data-chart.js' %}"></script>
<script>
$(document).ready(function() {
	var assessmentListUrl = "{% url 'assessment_list' %}" + '?format=json';
	$.ajax({
		url: assessmentListUrl,
		success: function(data, textStatus, jqXHR) {
			rs = data['results'];
			html = '';
			$.each(rs, function(index, value) {
				redir_url = searchRedirectUrl.replace('0', value['taxon']['id']);
				html += '<article><div class="ass-image"></div><h3><a href="' + redir_url + '">' + value['taxon']['name'] + '</a>';
				if(value['taxon']['get_top_common_name'] != '') {
					html += ' <small>' + value['taxon']['get_top_common_name'] + '</small>';
				}
				html += '</h3>';
				html += '<h4><span class="assessment-cat assessment-' + value['redlist_category'] + '">' + value['redlist_category_display'] + '</span>';
				html += ' <small>Scope: ' + value['scope'] + ' on ' + value['date'] + '</small></h4>';
				html += value['rationale'] + '</article>';
			});
			$('#assessments').append(html);
		}
	});
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="{% static 'jquery.rss.min.js' %}"></script>
<script>
jQuery(function($) {
  $("#rss-feed").rss("http://www.sanbi.org/news/science/feed", {
    layoutTemplate: "{entries}",
    tokens: {
      "rukayaBody": function(entry, tokens) {
        mytext = tokens.body.replace('<img src="/sites', '<img src="http://www.sanbi.org/sites');
        mytext = mytext.replace('<div class="field field-type-text field-field-description">', '');
        mytext = mytext.replace('<div class="field-items">', '');
        mytext = mytext.replace('<div class="field-item odd">', '');
        mytext = mytext.replace('</div>', '');
        mytext = mytext.replace('<p>', '');
        mytext = mytext.replace('</p>', '');

        mytext = mytext.split('<h2>Comments')[0];
        return '<p>' + mytext.substring(0, 500) + '...</p>';
      }
    },
    // inner template for each entry
    entryTemplate: '<article><h4><a href="{url}">{title}</a> <small>{date}</small></h4><p>{rukayaBody}</p></article>'
  })
})
</script>
{% endblock js %}

