{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'index.css' %}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock css %}

{% block heading %}
	<div id="main-carousel-text">
		<div class="container"><div class="row">
			<div class="col-md-12 text-center">
				<h1>Search for species</h1>
				<form action="{% url 'search_autocomplete' %}" class="navbar-form search-form" method="get">
					<div class="input-group col-md-8">
						<input name="search" id="search" type="text" class="search-query form-control input-lg" autocomplete="off" placeholder="Enter common name, ecological traits, scientific names, etc." data-provide="typeahead" data-items="4" data-source="">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-info btn-lg">
								Search
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</form>
				<div class="secondary-button">
					<span class="text">Alternatively,</span> <a href="{% url 'lineage_pk' 4 %}" class="btn btn-warning" role="button" id="explore">Explore species</a>
				</div>
			</div>
		</div></div>
	</div>

	<!--<div id="homebg" height="400px" style="position: relative;">
		<video playsinline autoplay muted loop poster="polina.jpg" id="bgvid"">
			<source src="{% static 'bee.mp4' %}" type="video/mp4">
		</video>
	</div>-->

	<div id="carousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner" role="listbox">
		<div class="item active">
		  <img src="{% static 'img/carousel/1.jpg' %}" alt="...">
		</div>
	  </div>
	</div>
{% endblock %}

{% block content %}
<div class="row"><div class="col-md-12"><h2 class="main-heading">An overview of our data<br><small>(SANBI are working on adding new species and assessments)</small></h2>
	<canvas id="canvas" height="80"></canvas></div></div>
<div class="row">
	<hr>
	<div class="col-md-8" id="assessments">
		<h2>Latest assessments</h2><hr>
	</div>
	<div id="news" class="col-md-4">
		<h2 id="frontpage-news">Latest news <small>from <a href="http://www.sanbi.org/news">sanbi.org</a></small></h2>
		<hr>
		<div id="rss-feed"></div>
		<p class="rss-footer">Read more news on <a href="http://www.sanbi.org/news">sanbi.org</a></p>
	</div>
</div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script>
var chartDataUrl = "{% url 'redlist_statistics' %}?format=json";
var searchAutoCompleteUrl = "{% url 'search_autocomplete' %}";
var searchRedirectUrl = "{% url 'last_assessment_detail' 0 %}";
var assessment_redirect = "{% url 'assessment_detail' 0 %}";
</script>
<script src="{% static 'data-chart.js' %}"></script>
<script src="{% static 'search.js' %}"></script>
<script>
$(document).ready(function() {
	var assessmentListUrl = "{% url 'assessment_list' %}" + '?format=json';
	$.ajax({
		url: assessmentListUrl,
		success: function(data, textStatus, jqXHR) {
			rs = data['results'];
			html = '';
			$.each(rs, function(index, value) {
				redir_url = searchRedirectUrl.replace('0', value['taxon_id']);
				html += '<article><div class="ass-image"></div><h3><a href="' + redir_url + '">' + value['taxon'] + '</a></h3>';
				html += '<h4><span class="assessment-cat assessment-' + value['redlist_category'] + '">' + value['redlist_category_display'] + '</span>';
				html += ' <small>Scope: ' + value['scope'] + ' on ' + value['date'] + '</small></h4>';
				html += value['rationale'] + '</article>';
			});
			$('#assessments').append(html);
		}
	});
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="{% static 'jquery.rss.min.js' %}"></script>
<script>
jQuery(function($) {
  $("#rss-feed").rss("http://www.sanbi.org/news/science/feed", {
    layoutTemplate: "{entries}",
    tokens: {
      "rukayaBody": function(entry, tokens) {
        mytext = tokens.body.replace('<img src="/sites', '<img src="http://www.sanbi.org/sites');
        mytext = mytext.replace('<div class="field field-type-text field-field-description">', '');
        mytext = mytext.replace('<div class="field-items">', '');
        mytext = mytext.replace('<div class="field-item odd">', '');
        mytext = mytext.replace('</div>', '');
        mytext = mytext.replace('<p>', '');
        mytext = mytext.replace('</p>', '');

        mytext = mytext.split('<h2>Comments')[0];
        return '<p>' + mytext.substring(0, 500) + '...</p>';
      }
    },
    // inner template for each entry
    entryTemplate: '<article><h4><a href="{url}">{title}</a> <small>{date}</small></h4><p>{rukayaBody}</p></article>'
  })
})
</script>
{% endblock js %}

