{% extends "website/_base.html" %}
{% load static %}

{% block css %}
{% endblock css %}

{% block heading %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
    <p>The South African Biodiversity Institute has worked in partnership with a host of South African Research Institutions, and conservation NGOs to document South Africa’s species diversity and assess its threats status using the IUCN 3.1 Red List Categories and Criteria. </p>
    <table class="table table-bordered">
      <thead>
        <tr><th>Partners</th><th>Project</th><th>Funders</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <!-- For images, check under /website/static/logos/, most of them should be there -->
            <img src="/static/logos/ori.png" alt="Oceanographic Research Institute">
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block js %}

{% endblock %}