{% extends "website/_base.html" %}
{% load static %}
{% load mptt_tags %}
{% load rest_framework %}

{% block css %}
<link href="{% static 'taxon.css' %}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% block extra-css %}{% endblock extra-css %}
{% endblock css %}

{% block body_attributes %} data-spy="scroll" data-target="#species-side-nav" style="position: relative"{% endblock %}

{% block heading %}
	<section id="taxon-heading" class="triangles banner">
		<div class="container">
      <!-- Hierarchical path - Gets filled in with javascript-->
      <div id="breadcrumb"></div>

      <!-- Image -->
      <div id="spimage"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Anax_imperator_female.jpg/240px-Anax_imperator_female.jpg"></div>

      <!-- Name and rank -->
      <h1></h1>

      <!-- Common names -->
      <h2 id="common-names"></h2>
      <ul class="nav nav-tabs nav-inverse">
        <li role="presentation"{% if request.resolver_match.url_name == 'last_assessment_detail' %} class="active"{% endif %}>
          <a href="{% url 'last_assessment_detail' 0 %}">RedList assessments</a>
        </li>
        <li role="presentation"{% if request.resolver_match.url_name == 'distribution_list' %} class="active"{% endif %}>
          <a href="{% url 'distribution_list' 0 %}">Distribution map</a>
        </li>
        <li role="presentation"{% if request.resolver_match.url_name == 'taxa_detail' %} class="active"{% endif %}>
          <a href="{% url 'taxa_detail' 0 %}">Species information</a>
        </li>
        <li role="presentation"{% if request.resolver_match.url_name == 'taxa_images' %} class="active"{% endif %}>
          <a href="{% url 'taxa_detail' 0 %}">Images</a>
        </li>
      </ul>
    </div>
	</section>
{% endblock %}

{% block content %}
<!-- Main content of species page -->
{% block content_main %}
<div class="row">
  <div class="col-md-9">
    <section id="facts"><h2>Factsheet</h2>
      <dl class="dl-horizontal">
        {% if info.reproductive_type %}
        <dt>Reproductive strategy</dt>
        <dd>{% for i in info.reproductive_type %}<span class="ele ele{{ forloop.counter }}">{{ i|safe }}</span>{% endfor %}</dd>
        {% endif %}
        {% if info.habitats %}
        <dt>Habitats</dt>
        <dd>{% for i in info.habitats %}<span class="ele ele{{ forloop.counter }}">{{ i|safe }}</span>{% endfor %}</dd>
        {% endif %}
        {% if info.congregatory %}
        <dt>Movement behaviour</dt>
        <dd>{% for i in info.congregatory %}<span class="ele ele{{ forloop.counter }}">{{ i|safe }}</span>{% endfor %}</dd>
        {% endif %}
        {% if info.max_size and info.size_units %}<dt>Max size</dt><dd>{{ info.max_size }} {{ info.size_units }}</dd>{% endif %}
        {% if info.average_fecundity %}<dt>Fecundity<dd>{{ info.average_fecundity }} (yearly average)</dd>{% endif %}
      </dl>
    </section>
    <section id="species-info">
    {% if info.habitat_narrative %}
    <article><h2 id="habitat_narrativeAnchor">Habitat</h2>{{ info.habitat_narrative|safe }}</article>
    {% endif %}
  </section></div>
  <div class="col-md-3">
    <ul id="species-side-nav" class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="20" data-offset-bottom="200">
      {% for key, item in info.items %}{% if item %}
      <li><a href="#{{ key }}Anchor">{{ key }}</a></li>
      {% endif %}{% endfor %}
    </ul>
  </div>
</div>
{% endblock content_main %}

<!-- Common names modal -->
<div class="modal fade" id="commonNamesModal" tabindex="-1" role="dialog" aria-labelledby="commonNamesModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="commonNamesModalLabel">Add common name</h3>
      </div>
      <div class="modal-body">
        <form action="{{ taxon.info.id }}" method="POST" >
          {% csrf_token %}
          <div class="form-group">

          </div><!--class="form-inline"template_pack='rest_framework/inline' -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="infoModalLabel"></h3>
      </div>
      <div class="modal-body">
        <form action="{{ taxon.info.id }}" method="POST" >
          {% csrf_token %}
          <div class="form-group info-form-group">

          </div><!--class="form-inline"template_pack='rest_framework/inline' -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.0.1/trianglify.min.js"></script>
<script src="{% static 'bibtex-js-master/src/bibtex_js.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script>
var id = window.location.href.split('/').slice(-2, -1)[0];

var ancestors_url = ("{% url 'api_ancestors' 0 %}" + "?format=json").replace('0', id);

var lineage_url = "{% url 'lineage_pk' 0 %}";

var common_names_url = ("{% url 'api_common_names' 0 %}" + "?format=json").replace('0', id);
</script>
<script src="{% static 'taxa-header.js' %}"></script>
<script>
$(document).ready(function() {
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // Fix for ckeditor in a bootstrap modal
  // See http://stackoverflow.com/questions/22637455/how-to-use-ckeditor-in-a-bootstrap-modal
  jQuery.fn.modal.Constructor.prototype.enforceFocus = function () {
    modal_this = this
    jQuery(document).on('focusin.modal', function (e) {
      if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
              && !jQuery(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
              && !jQuery(e.target.parentNode).hasClass('cke_dialog_ui_input_textarea')
              && !jQuery(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
          modal_this.$element.focus()
      }
    })
  };

  // Place correct data when modal shows
  $('#infoModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var label = button.parent().children('span').text();
    var text = button.parent().parent().children('.item-info').html();
    var modal = $(this);
    modal.find('.modal-title').text('Edit ' + label);
    var textarea = '<textarea id="ckeditor" name="' + label + '" class="form-control">' + text + '</textarea>';
    modal.find('.info-form-group').html(textarea);
  });
  $('#infoModal').on('shown.bs.modal', function (event) {
    console.log($('#ckeditor').attr('name'));
    CKEDITOR.replace($('#ckeditor').attr('name'));
  });
});
</script>
{% block extra-js %}{% endblock extra-js %}
{% endblock js %}

