{% extends "website/_base.html" %}
{% load static %}
{% load mptt_tags %}
{% load rest_framework %}

{% block css %}
<link href="{% static 'taxon.css' %}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css" rel="stylesheet">
{% block extra-css %}{% endblock extra-css %}
{% endblock css %}

{% block body_attributes %} data-spy="scroll" data-target="#species-side-nav" style="position: relative"{% endblock %}

{% block heading %}
	<section id="taxon-heading" class="triangles banner">
		<div class="container">
      <div class="row"><div class="col-md-12">
        <!-- Hierarchical path - Gets filled in with javascript -->
        <div id="breadcrumb"></div>

        <!-- Image gallery with only initial image showing -->
        <div id="taxon-img-container">
           <a href="#" data-toggle="lightbox" data-gallery="species-gallery"><img src=""></a>
           <!--<span class="glyphicon camera" aria-hidden="true"></span>-->
           <p>Open image gallery <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></p>
           <div>
             Photographer: <br>
             <span id="imgphotographer"></span> <br><br> &copy; <span id="imgcopyright"></span>
           </div>
        </div>
        <div id="img-gallery" style="display: none;"></div>

        <!-- Name and rank -->
        <h1></h1>

        <!-- Common names -->
        <h2 id="common-names"></h2>
      </div></div>

      <!-- Tabs -->
      <ul class="nav nav-tabs nav-inverse">
        <li role="presentation"{% if request.resolver_match.url_name == 'last_assessment_detail' %} class="active"{% endif %}>
          <a href="{% url 'last_assessment_detail' 0 %}">RedList assessments</a>
        </li>
        <li role="presentation"{% if request.resolver_match.url_name == 'distribution_list' %} class="active"{% endif %}>
          <a href="{% url 'distribution_list' 0 %}">Distribution map</a>
        </li>
        <li role="presentation"{% if request.resolver_match.url_name == 'taxa_detail' %} class="active"{% endif %}>
          <a href="{% url 'taxa_detail' 0 %}">Species information</a>
        </li>
      </ul>
    </div>
	</section>
{% endblock %}

{% block content %}
<!-- Main content of species page -->
{% block content_main %}
<div class="row">
  <div class="col-md-8">
    {% if info.reproductive_type or info.habitats or info.congregatory or info.max_size or info.average_fecundity %}
    <section id="facts"><h2>Factsheet</h2>
      <dl class="dl-horizontal">
        {% if info.reproductive_type %}
        <dt>Reproductive strategy</dt>
        <dd>{% for i in info.reproductive_type %}<span class="ele ele{{ forloop.counter }}">{{ i|safe }}</span>{% endfor %}</dd>
        {% endif %}
        {% if info.habitats %}
        <dt>Habitats</dt>
        <dd>{% for i in info.habitats %}<span class="ele ele{{ forloop.counter }}">{{ i|safe }}</span>{% endfor %}</dd>
        {% endif %}
        {% if info.congregatory %}
        <dt>Movement behaviour</dt>
        <dd>{% for i in info.congregatory %}<span class="ele ele{{ forloop.counter }}">{{ i|safe }}</span>{% endfor %}</dd>
        {% endif %}
        {% if info.max_size and info.size_units %}<dt>Max size</dt><dd>{{ info.max_size }} {{ info.size_units }}</dd>{% endif %}
        {% if info.average_fecundity %}<dt>Fecundity<dd>{{ info.average_fecundity }} (yearly average)</dd>{% endif %}
      </dl>
    </section>
    {% endif %}
    <section id="species-info">
      {% with 'morphology diagnostics trophic movement migration_patterns reproduction habitat_narrative generational_length_narrative ' as list %}
        {% for key, value in info.items %}
          {% if key in list and value %}
            <article><h2 id="{{ key }}Anchor">{{ key }}</h2>{{ value|safe }}</article>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </section>
  </div>
  <div class="col-md-4"><div class="scanty-info">
    <h3>Not much information here?</h3>
    <p>SANBI is currently in the process of adding more information about species to this database. </p>
    <hr>
    <p><a class="search-eol" href="http://eol.org/search?q=">Search for this species on <img src="http://cdn8.openculture.com/wp-content/uploads/2013/09/eol_logo_globe.jpg" style="width: 200px; background-color: white; padding: 10px; border-radius: 10px;"></a></p>
  </div><!--<ul id="species-side-nav" class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="20" data-offset-bottom="200">
      {% for key, item in info.items %}{% if item %}
      <li><a href="#{{ key }}Anchor">{{ key }}</a></li>
      {% endif %}{% endfor %}
    </ul>-->
  </div>
</div>
{% endblock content_main %}

{% endblock content %}

{% block js %}
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.0.1/trianglify.min.js"></script>
<script src="{% static 'bibtex-js-master/src/bibtex_js.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script>
var id = window.location.href.split('/').slice(-2, -1)[0];

var ancestors_url = ("{% url 'api_ancestors' 0 %}" + "?format=json").replace('0', id);

var lineage_url = "{% url 'lineage_pk' 0 %}";

var common_names_url = ("{% url 'api_common_names' 0 %}" + "?format=json").replace('0', id);
</script>
<script src="{% static 'taxa-header.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js"></script>
<script>
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
$(document).ready(function() {

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // Fix for ckeditor in a bootstrap modal
  // See http://stackoverflow.com/questions/22637455/how-to-use-ckeditor-in-a-bootstrap-modal
  jQuery.fn.modal.Constructor.prototype.enforceFocus = function () {
    modal_this = this
    jQuery(document).on('focusin.modal', function (e) {
      if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
              && !jQuery(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
              && !jQuery(e.target.parentNode).hasClass('cke_dialog_ui_input_textarea')
              && !jQuery(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
          modal_this.$element.focus()
      }
    })
  };

  // Place correct data when modal shows
  $('#infoModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var label = button.parent().children('span').text();
    var text = button.parent().parent().children('.item-info').html();
    var modal = $(this);
    modal.find('.modal-title').text('Edit ' + label);
    var textarea = '<textarea id="ckeditor" name="' + label + '" class="form-control">' + text + '</textarea>';
    modal.find('.info-form-group').html(textarea);
  });
  $('#infoModal').on('shown.bs.modal', function (event) {
    console.log($('#ckeditor').attr('name'));
    CKEDITOR.replace($('#ckeditor').attr('name'));
  });
});
</script>
{% block extra-js %}{% endblock extra-js %}
{% endblock js %}

