{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'svg.css' %}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock css %}

{% block heading %}
<div id="triangles">
  <div id="svgparent">
    <div id="svgcontainer">
      <svg id='lifetree'></svg>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
</div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script>

  var lineage = $.parseJSON('{{ lineage|safe }}');
$(document).ready(function() {
  console.log('ok');
});
</script>
<script src="{% static 'script.js' %}"></script>
{% endblock js %}
