{% extends "website/_base.html" %}
{% load static %}

{% block css %}
<link href="{% static 'index.css' %}" rel="stylesheet">
<link href="{% static 'jstree/dist/themes/default/style.css' %}" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href="{% static 'style.css' %}" rel="stylesheet">
<link href="{% static 'tree.css' %}" rel="stylesheet">
{% endblock css %}

{% block heading %}
<div class="search-header"><div class="container"><div class="row">

</div></div></div>
{% endblock %}

{% block content %}
<div id="news"><div class="container">
	<ul class="nav nav-pills">
		<li role="presentation" class="active" id="tree-view"><a href="#">Explore tree</a></li>
		<li role="presentation" id="az-view"><a href="#">Explore genera</a></li>
		<li role="presentation" id="status-view"><a href="#">Explore redlistings</a></li>
	</ul>
	<hr>
  <!--<label for="jstree-input">Search for species</label>
  <input class="search-input form-control" id="jstree-input"></input>-->
  <div id="contentcontainer">
    <div id="azgenera"></div>
		<div id="treejump"><form action="/Search" method="get">
				<label for="searchterm">Jump to</label>
				<input name="searchterm" id="searchterm" type="text" class="search-query form-control" autocomplete="off" placeholder="Enter common name, ecological traits, scientific names, etc." data-provide="typeahead" data-items="4" data-source="">
		</form></div>
    <div id="jstree">
		</div>
    <div id="redlistcat"></div>
  </div>
</div></div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'jstree/dist/jstree.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script>
var searchAutoCompleteUrl = "{% url 'search_autocomplete' %}";
var searchRedirectUrl = "{% url 'lineage_pk' 0 %}";
var generaAZUrl = "{% url 'api_genera_list' 'A' 'Aves' %}?format=json";
var categoryListUrl = "{% url 'api_category_list' 'LC' %}?format=json";
var taxaGroupList = "{% url 'api_get_taxa_group_list'%}?format=json";
</script>
<script src="{% static 'search.js' %}"></script>
<script>
// These two URLs are used in the script.js
var getChildrenUrl = "{% url 'api_lineage' 0 %}";
var taxaDetailUrl = "{% url 'last_assessment_detail' 0 %}";
var current_pk = {{ pk }};
</script>
<script src="{% static 'tree.js' %}"></script>
<script src="{% static 'genera-az.js' %}"></script>
<script src="{% static 'category-sort.js' %}"></script>
<script>
$(document).ready(function() {
	tree_view();
  $('#contentcontainer>div').hide();
  $('#jstree').show();
  $('#treejump').show();
  tree_view();

	$('#az-view').click(function() {
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		$('#contentcontainer>div').hide();
		$('#azgenera').show();
		populate_genera(generaAZUrl);
	});
	$('#tree-view').click(function() {
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		$('#contentcontainer>div').hide();
		$('#jstree').show();
		$('#treejump').show();
		tree_view();
	});
	$('#status-view').click(function() {
		$(this).siblings().removeClass('active');
		$(this).addClass('active');
		$('#contentcontainer>div').hide();
		$('#redlistcat').show();
		populate_categories(categoryListUrl);
	});
});
</script>
{% endblock js %}
