.assessments-LC { background-color: #006666; }
.assessments-NT { background-color: #006666; color: #9ed09b; }
.assessments-VU { background-color: #cc9900; }
.assessments-EN { background-color: #cc6633; }
.assessments-CR { background-color: #cc3333; }
.assessments-EW { background-color: #d24000; }
.assessments-EX { background-color: #000000; color: #cc3333; }