/* Main page carousel */
#carousel {
	position: relative;
	top: -50px;
	max-height: 400px;
	z-index: -1;
	overflow: hidden;
	margin-bottom: -20px;
	border-bottom: 1px solid #666;
}
#main-carousel-text  {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 70px;
	z-index: 1;
}
#main-carousel-text .input-group-btn {
	width: 1%;
}

/* Heading in carousel */
#main-carousel-text h1 {
	color: rgba(255,255,255,0.8);
	text-shadow:1px 1px 10px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 4.3em;
  text-align: center;
	margin-bottom: 20px;

	/* Transition. */
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}
#main-carousel-text:hover h1 {
	color: rgba(255,255,255,1);
	text-shadow:1px 1px 2	0px rgba(0, 0, 0, 1);
}

/* Secondary heading/alternate buttons */
.secondary-button {
	text-align: center;
	margin-top: 40px;
}
.secondary-button span.text {
	color: rgba(255,255,255,0.9);
	text-shadow:1px 1px 10px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 2em;
	margin-top: 10px;
	margin-right: 10px;
	vertical-align: middle;
}

/* Video bg */
video#bgvid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url('static/img/carousel/1.jpg') no-repeat;
  background-size: cover;
	z-index: -1;
}
#homebg {
	height: 400px;
	overflow: hidden;
}

/* News */
#frontpage-news {
	/*font-size: 2em;
	text-align: center;*/
	margin-bottom: 20px;
}
#news {
	margin-bottom: 40px;
}
p.rss-footer {
	border-top: 1px solid #CFCFCF;
	padding-top: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.main-heading {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}
.main-heading small {
  background-color: #feffc3;
}
.over-banner {
  background-color: rgb(66, 76, 98); /*rgb(183, 89, 89);*/
  padding: 15px;
  border-radius: 7px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -50px;
  font-size: 1.2em;
  margin-right: 5%;
  margin-left: 5%;
  border: 1px solid #444;
  font-size: 1em;
  -webkit-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.31);
  -moz-box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.31);
  box-shadow: 10px 10px 17px -2px rgba(0,0,0,0.31);
}
.infographic h2 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
}
.infographic>div, .infographic>p {
  text-align: center;
}
.infographic>p { font-weight: bold; }
.blue { background-color: rgba(193, 230, 225, 0.59)}
.blue-end {
  background-color: rgba(182, 206, 203, 0.9);
 margin-bottom: 25px;
 padding-bottom: 5px;
 padding-top: 15px;
}