h4 {
  line-height: 1.5em;
}
.navbar {
	background:rgba(248,248,248,0.5);
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.navbar-brand {
	background-color: rgba(255, 255, 255, 0.4)
}
footer {
  border-top: 1px solid white;
  color: white;
  margin-top: 50px;
  padding: 60px 0;
  background: linear-gradient(to bottom, #4b659e 0%,#005075 100%);
  background: #222;
}

.assessment {
    background-color: #777;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.6em;
    font-weight: bold;
}
.assessment-DD { background-color: #777 !important; color: #FFF; border: 1px solid #b2b2b2; }
.assessment-LC { background-color: #006666 !important; color: #FFF; border: 1px solid #b2b2b2; }
.assessment-NT { background-color: #006666 !important; color: #9ed09b !important; border: 1px solid #b2b2b2; }
.assessment-VU { background-color: #cc9900 !important; color: #FFF; border: 1px solid #b2b2b2; }
.assessment-EN { background-color: #cc6633 !important; color: #FFF; border: 1px solid #b2b2b2; }
.assessment-CR { background-color: #cc3333 !important; color: #FFF; border: 1px solid #b2b2b2; }
.assessment-EW { background-color: #d24000 !important; color: #FFF; border: 1px solid #b2b2b2; }
.assessment-EX { background-color: #000000 !important; color: #cc3333 !important; border: 1px solid #b2b2b2; }
#homebg, #carousel {
  width: 100%;
}
#primary-nav { margin-left: 410px; }
.no-banner { padding-top: 80px; }
.search-form {
  padding-left: 0;
}
p { line-height: 1.8em; }
.banner .container {
}

/*
#taxon-heading>div.container {
  padding-top: 30px;
}
#taxon-heading {
  margin-top: -80px;
}

#taxon-heading .container>div>div { padding-top: 30px; }*/


.ass-image {
  float: left;
  width: 100px;
  height: 120px;
  background-color: #DDD;
  margin-right: 15px;
}
#assessments article {
  clear: both;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
  overflow: auto;
}
.assessment-cat {
  padding: 5px;
  border-radius: 5px;
  color: white;
}/*
.triangles h1 {
  margin-bottom: 40px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
}*/
#assessments h2 { margin-bottom: 20px; }

header {
  background: #000 url('/static/img/carousel/1.jpg') no-repeat right;
  height: 180px;
  padding: 0;
}
header h1 {
  color: #CFCFCF;
  margin-top: 2.1em;
  text-transform: uppercase;
  font-size: 2.3em;
}
header h1 span {
  color: #FFF;
  display: block;
  text-transform: capitalize;
  font-size: 1.3em;
}