
.link {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
	/* Transition. */
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	/* ...and now for the proper property */
	transition:.5s;
}
.link:hover {
  fill: none;
  stroke: orange;
  stroke-width: 3px;
}
.link.warning{
  stroke: orange;
}
.lower-circle, .upper-circle {
  z-index: 1;
  stroke-width: 2px;
}
path.link {
  stroke-width: 3px;
}
.rank-9 .upper-circle {
  display: none;
}
.rank-9  text {
  font-size: 3em;
  font-weight: bold;
}
.rank-1 {
  font-size: 1.5em;
  font-weight: bold;
}

.rank-2 {
  font-size: 1em;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}
svg text {

}
.rank-3 {
  font-size: 1em;
}
#triangles {
  /*position: relative;
  top: -20px;
  margin-top: -50px;
  padding-top: 80px;

-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);*/
}
#svgcontainer {
  position: relative;
  padding-top: 80px;
/*-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);*/
}
#svgparent-disablethis {
  background: transparent url('static/img/carousel/1.jpg' 0 0 no-repeat );

  background: -moz-linear-gradient(top, rgba(255,255,255,0) 100%, rgba(130,91,0,1) 0%);   /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(130,91,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(130,91,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(130,91,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(130,91,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(130,91,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00',GradientType=0 ); /* IE6-9 */
}

svg { width: 100%; height: auto; }


rect {
  fill: #000000;
	/* Transition. */
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	/* ...and now for the proper property */
	transition:.2s;


}
text {
  cursor: pointer;
}

.lower-circle {
	cursor: pointer;
}
.lower-circle:hover {
	fill: #FFF793 !important;
}
rect:hover {
	fill: #FFEC1C !important;
}
.text-group {
	/* Transition. */
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	/* ...and now for the proper property */
	transition:.2s;
}
.text-group:hover rect {
	fill: #FFEC1C !important;
}