#taxon-heading {
 /* padding-top: 80px;*/
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  /*text-align: center;*/
  font-size: 1.1em;
}
#breadcrumb { margin-bottom: 5px; }
#breadcrumb a { font-weight: bold; font-size: 0.9em; }
#breadcrumb span.glyphicon { font-size: 0.7em; }
#taxon-heading .container>div { height: 200px; }

.taxon-header-row {
  margin-bottom: 10px;
}
#taxon-img-container {
  border: 0px solid white;
  background-color: white;
  border-radius: 3px;
  float: left;
  overflow: auto;
  margin-right: 15px;
}
#taxon-img-container div {
  width: 1px;
  height: 140px;
  overflow: hidden;
  /*position: relative;*/
}
.img-container-width { width: 180px !important; }
#taxon-img-container img.img-tall {
  max-height: 140px;
}
#taxon-img-container img.img-wide {
  max-width: 180px;
  /*margin-left: 10px;
  margin-top: 10px;*/
}
#taxon-img-container div div, #taxon-img-container p {
  font-size: 0.7em;
  /*position: absolute;
  top: 13px;
  left: 13px;*/
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: block;
  margin-top: -105px; /* 135 */
  position: relative;
  pointer-events: none;
}
#taxon-img-container:hover p {
  background-color: rgba(0, 0, 0, 0.7);
}
#taxon-img-container p {
  text-align: right;
}
#taxon-img-container div div {
  display: none;
}
#imgphotographer {
  font-size: 1.2em;
}
#imgcopyright {
  line-height: 0.8em;
  font-weight: normal;
}


#taxon-heading h1 {
  text-shadow:1px 1px 10px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 3em;
  line-height: 0.8em;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 0;
  margin-top: 15px;
  overflow: hidden;
}
#taxon-heading h2 {
  float: left;
}
#taxon-heading ul { clear: both; }
#taxon-heading h2 span {
    padding: 5px;
    margin-right: 5px;
    background-color: rgba(49, 112, 143, 0.57);;
}
#taxon-heading h2 {
  font-size: 1em;
  line-height: 1.5em;
}
#taxon-heading a {
  color: #fff;
}
.nav-inverse {
    border-color: transparent !important;
}
.nav-inverse>li.active>a {
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
 .nav-tabs>li>a:hover {
    background-color: none;
    color: #2d2d2d !important;
}
#taxon-heading .nav-tabs {
}
#species-info h2, #species-side-nav li a {
  text-transform: capitalize;
}
#species-info h2 small {
  text-transform: none;
}
#species-info h2 {
  margin: 30px 0 15px 0;
}
.species-description {
  font-size: 0.45em;
}
#species-images {
  background-color: #edf6ff;
}
#species-side-nav {
  margin-top: 20px;
}
#species-images, #species-images img {
  height: 250px;
}
.cke_dialog
{
  z-index: 10055 !important;
}
textarea.cke_dialog_ui_input_textarea {
  height: 100px !important;
}
label.cke_dialog_ui_labeled_label {
  display: block !important;
  font-weight: bold;
}
label.cke_dialog_ui_labeled_label a {
  background-color: #326c96;
  color: #FFF;
 -moz-border-radius: 6px;
 border-radius: 6px;
 padding: 2px 7px;
 font-weight: normal;
}

/* Center the button */
.cke_dialog_ui_vbox_child {
  text-align: center;
}
.cke_dialog_ui_button {
  margin-bottom: 20px;
}

/* assessment stuff */
nav.redlist {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    font-size: 1.5em;
}
nav.redlist .nav-pills>li.active>a, nav.redlist .nav-pills>li.active>a:focus, nav.redlist .nav-pills>li.active>a:hover {
    background-color: #5c97d6;
}
nav.redlist .small-pill {
  font-size: 0.7em;
}
.contribution-type {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    line-height: 2em;

}
.contribution-type a { margin-bottom: 3px; }
.contributor {
    padding: 5px;
}
/*.contribution-assessor .contributor { border: 1px solid #444; }
.contribution-reviewer .contributor { border: 1px solid #444; }
.contribution-contributor .contributor { border: 1px solid #444; }
.contribution-facilitator .contributor { border: 1px solid #444; }

.contribution-assessor .contributor { background-color: rgba(255, 255, 0, 0.2); }
.contribution-reviewer .contributor { background-color: rgba(255, 255, 0, 0.2); }
.contribution-contributor .contributor { background-color: rgba(255, 255, 0, 0.2); }
.contribution-facilitator .contributor { background-color: rgba(255, 255, 0, 0.2); }
.contribution-assessor .contributor, .contribution-reviewer .contributor,
.contribution-contributor .contributor, .contribution-facilitator .contributor {
  background-color: rgba(255, 255, 188, 0.57);
  border: 1px solid
 border-radius: 5px;}
.contribution-assessor .contributor:hover, .contribution-reviewer .contributor:hover,
.contribution-contributor .contributor:hover, .contribution-facilitator .contributor:hover {
  background-color: rgba(255, 255, 188, 0.57);
}*/
#redlist-summary {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
#redlist-summary>div:first-child div {
    padding: 20px;
    text-align: center;
    max-width: 100%;
    background-color: #ddd;
    border-radius: 60px;
}
#redlist-summary>div:first-child div strong {
    font-size: 1.5em;
}
#facts dl dt, #facts dl dd {
  line-height: 2em;
  margin-bottom: 10px;
}
#facts h2 {
  text-align: center;
  margin-top: 0;
  color: #333;
}
#facts:hover {
  /*background: linear-gradient(to bottom, #ffffa8 0%,#E5E0A5 100%);*/
}
#facts {
  /*background: linear-gradient(to bottom, #fff6d8 0%,#fff4c4 100%);*/
  background-color: #e5ffe5;
  padding: 20px 20px 0px 20px;
  border-radius: 25px;
  border: 1px solid #CCC;
}
span.ele:hover { background-color: rgba(200, 200, 200, 0.2); }
span.ele {
  padding: 5px;
  margin-right: 5px;
  background-color: rgba(20, 20, 20, 0.1);
}
#poptrend h3 { display: none; }
article h3 {
  font-size: 1.1em; font-weight: bold;
}
.scanty-info h3 {
  font-size: 1.4em;
}
.scanty-info {
  background-color: rgba(255, 255, 188, 0.57); /*#ffffbc;*/
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
  text-align: center;
  font-size: 0.9em;
}

.scanty-info img {
  width: 100px;
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
}
/* rgb(220, 242, 255)*/




.assessment-aside {
  border-left: 0px solid #ddd;
  margin-top: 20px;
}
.assessment-aside img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.assessment-aside h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.2);
  background-color: rgba(255, 255, 188, 0.57);
}

.howtocite {
  padding: 10px 0;
  background-color: rgba(255, 255, 0, 0.2);
}
.species-footer h2 {
  margin-top: 50px;
}
#data-providers h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.2);
}

#distribution span {
    padding: 5px 0;
    margin-right: 5px;
    background: rgba(49, 112, 143, .5);
}

