#taxon-heading {
 /* padding-top: 80px;*/
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  /*text-align: center;*/
  font-size: 1.1em;
}
#breadcrumb { margin-top: 10px; margin-bottom: 5px; }
#taxon-heading .container>div { height: 280px; }
#taxon-heading .container>div>div { padding-top: 30px; }

#taxon-img-container {
  width: 1px;
  height: 155px;
  float: left;
  background-color: white;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 20px;
  overflow: hidden;
  /*position: relative;*/
}
#taxon-img-container img {
  max-width: 180px;
  margin-left: 10px;
  margin-top: 10px;
}
#taxon-img-container div {
  font-size: 0.7em;
  /*position: absolute;
  top: 13px;
  left: 13px;*/
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: block;
  margin-top: -105px; /* 135 */
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: none;
  pointer-events: none;
}
#imgphotographer {
  font-size: 1.2em;
}
#imgcopyright {
  line-height: 0.8em;
  font-weight: normal;
}


#taxon-heading h1 {
  text-shadow:1px 1px 10px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 3.5em;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 0;
  margin-top: 15px;
  overflow: hidden;
}
#taxon-heading h2 {
  float: left;
}
#taxon-heading ul { clear: both; }
#taxon-heading h2 span {
    padding: 5px;
    margin-right: 5px;
    background-color: rgba(49, 112, 143, 0.57);;
}
#taxon-heading h2 {
  font-size: 1em;
  line-height: 1.5em;
}
#taxon-heading a {
  color: #fff;
}
.nav-inverse {
    border-color: transparent !important;
}
.nav-inverse>li.active>a {
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
 .nav-tabs>li>a:hover {
    background-color: none;
    color: #2d2d2d !important;
}
#taxon-heading .nav-tabs {
}
#species-info h2, #species-side-nav li a {
  text-transform: capitalize;
}
#species-info h2 {
  margin: 30px 0 15px 0;
}
.species-description {
  font-size: 0.45em;
}
#species-images {
  background-color: #edf6ff;
}
#species-side-nav {
  margin-top: 20px;
}
#species-images, #species-images img {
  height: 250px;
}
.cke_dialog
{
  z-index: 10055 !important;
}
textarea.cke_dialog_ui_input_textarea {
  height: 100px !important;
}
label.cke_dialog_ui_labeled_label {
  display: block !important;
  font-weight: bold;
}
label.cke_dialog_ui_labeled_label a {
  background-color: #326c96;
  color: #FFF;
 -moz-border-radius: 6px;
 border-radius: 6px;
 padding: 2px 7px;
 font-weight: normal;
}

/* Center the button */
.cke_dialog_ui_vbox_child {
  text-align: center;
}
.cke_dialog_ui_button {
  margin-bottom: 20px;
}

/* assessment stuff */
nav.redlist {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    font-size: 1.5em;
}
nav.redlist .nav-pills>li.active>a, nav.redlist .nav-pills>li.active>a:focus, nav.redlist .nav-pills>li.active>a:hover {
    background-color: #5c97d6;
}
nav.redlist .small-pill {
  font-size: 0.7em;
}
.contribution-type {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    line-height: 2em;
}
.contributor {
    padding: 5px;
}
.contribution-assessor .contributor { background-color: #e6ef86; }
.contribution-reviewer .contributor { background-color: #efc786; }
.contribution-contributor .contributor { background-color: #efde86; }
.contribution-facilitator .contributor { background-color: #efa986; }
.contribution-assessor .contributor:hover { background-color: #e7af86; }
.contribution-reviewer .contributor:hover { background-color: #efff86; }
.contribution-contributor .contributor:hover { background-color: #eff786; }
.contribution-facilitator .contributor:hover { background-color: #efd986; }
#redlist-summary {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
#redlist-summary>div:first-child div {
    padding: 20px;
    text-align: center;
    max-width: 100%;
    background-color: #ddd;
    border-radius: 60px;
}
#redlist-summary>div:first-child div strong {
    font-size: 1.5em;
}
#facts dl dt, #facts dl dd {
  line-height: 2em;
  margin-bottom: 10px;
}
#facts h2 {
  text-align: center;
  margin-top: 0;
  color: #333;
}
#facts:hover {
  background: linear-gradient(to bottom, #ffffa8 0%,#E5E0A5 100%);
}
#facts {
  background: linear-gradient(to bottom, #fff6d8 0%,#fff4c4 100%);
  padding: 20px 20px 0px 20px;
  border-radius: 25px;
  border: 1px solid #CCC;
}
span.ele:hover { background-color: rgba(200, 200, 200, 0.2); }
span.ele {
  padding: 5px;
  margin-right: 5px;
  background-color: rgba(20, 20, 20, 0.1);
}
#poptrend h3 { display: none; }
article h3 {
  font-size: 1.1em; font-weight: bold;
}
.scanty-info {
  background-color: #ffffbc;
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
  text-align: center;
}

#data-providers h1 {
  margin: 30px 0 15px 0;
}

#distribution span {
    padding: 5px;
}