#taxon-heading {
  padding-top: 110px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1.1em;
}
#taxon-heading h1 {
  margin-top: 30px;
  text-shadow:1px 1px 10px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 3.5em;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
#taxon-heading h2 span {
    padding: 5px;
    margin-right: 5px;
    background-color: rgba(49, 112, 143, 0.57);;
}
#taxon-heading h2 {
  font-size: 1em;
  line-height: 2em;
}
#taxon-heading a {
  color: #fff;
}
.nav-inverse {
    border-color: transparent !important;
}
.nav-inverse>li.active>a {
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
 .nav-tabs>li>a:hover {
    background-color: none;
    color: #2d2d2d !important;
}
#taxon-heading .nav-tabs {
    margin-top: 20px;
}


#species-info h2, #species-side-nav li a {
  text-transform: capitalize;
}
#species-info h2 {
  margin: 30px 0 15px 0;
}
.species-description {
  font-size: 0.75em;
}
#species-images {
  background-color: #edf6ff;
}
#species-side-nav {
  margin-top: 20px;
}
#species-images, #species-images img {
  height: 250px;
}
.cke_dialog
{
  z-index: 10055 !important;
}
textarea.cke_dialog_ui_input_textarea {
  height: 100px !important;
}
label.cke_dialog_ui_labeled_label {
  display: block !important;
  font-weight: bold;
}
label.cke_dialog_ui_labeled_label a {
  background-color: #326c96;
  color: #FFF;
 -moz-border-radius: 6px;
 border-radius: 6px;
 padding: 2px 7px;
 font-weight: normal;
}

/* Center the button */
.cke_dialog_ui_vbox_child {
  text-align: center;
}
.cke_dialog_ui_button {
  margin-bottom: 20px;
}

/* assessment stuff */
nav.redlist {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    font-size: 1.5em;
}
nav.redlist .nav-pills>li.active>a, nav.redlist .nav-pills>li.active>a:focus, nav.redlist .nav-pills>li.active>a:hover {
    background-color: #b73f33;
}

.contribution-type {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    line-height: 2em;
}
.contributor {
    padding: 5px;
}
.contribution-assessor .contributor { background-color: #e6ef86; }
.contribution-reviewer .contributor { background-color: #efc786; }
.contribution-contributor .contributor { background-color: #efde86; }
.contribution-facilitator .contributor { background-color: #efa986; }
.contribution-assessor .contributor:hover { background-color: #e7af86; }
.contribution-reviewer .contributor:hover { background-color: #efff86; }
.contribution-contributor .contributor:hover { background-color: #eff786; }
.contribution-facilitator .contributor:hover { background-color: #efd986; }
#redlist-summary {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
#redlist-summary>div:first-child div {
    padding: 20px;
    text-align: center;
    max-width: 100%;
    background-color: #ddd;
    border-radius: 60px;
}
#redlist-summary>div:first-child div strong {
    font-size: 1.5em;
}