
#jstree-input a {
    padding: 10px;
}
#jstree-input {
    margin-bottom: 20px;
    max-width: 400px;
}
.jstree-default .jstree-hovered {
    color: white;
    background-color: #347fbf;
}
.jstree-node .common-names { font-size: 0.8em; font-weight: bold; color: #777; }
.jstree-default .jstree-hovered .common-names {
    color: white;
    background-color: #347fbf;
}
.jstree-anchor { padding-right: 10px; }
.jstree-anchor small { font-weight: bold; }
/*#jstree li[aria-level="1"] a { color: #484436; }
#jstree li[aria-level="2"] a { color: #6b6245; }
#jstree li[aria-level="3"] a { color: #87784b; }
#jstree li[aria-level="4"] a { color: #988036; }
#jstree li[aria-level="5"] a { color: #b08f2c; }
#jstree li[aria-level="6"] a { color: #be961c; }
#jstree li[aria-level="7"] a { color: #daa914; }
#jstree li[aria-level="8"] a { color: #ebb510; }
#jstree li[aria-level="9"] a { color: #ffc001; }*/

#main-carousel-text .form-group { width: 90%; }
#main-carousel-text #searchterm { width: 50%; }
#main-carousel-text label {
    color: rgba(255,255,255,0.95);
    text-shadow:1px 1px 10px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 2em;
}
#carousel { max-height: 200px; }
#main-carousel-text  {
	margin-top: 50px;
}
.jstree-default .jstree-node {
    margin-left: 100px;
}
#main-carousel-text .form-group { width: 100%; }
#main-carousel-text form {
    margin-top: 30px;
}
.tree-highlight-node a {
    font-weight: bold;
    background-color: #fff175;
}
#searchterm, .form-inline .btn-info {
    margin-top: -7px;
    margin-left: 10px;
}
.assessment {
    background-color: #777;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.6em;
    font-weight: bold;
}

#generaAZ a {
  padding: 2px 5px;
  border-radius: 2px;
  background-color: #d9edf7;
  font-weight: bold;
}
#generaAZ a:hover {
  color: white;
  background-color: #74A6BF;
}
#redlist-cat-headings a {
  font-size: 1.2em;
  font-weight: normal;
  padding: 5px;
  margin-right: 10px;
  border: 0;
  cursor: pointer;
}
#redlist-cat-headings a:hover { color: white; text-decoration: none; }

.search-header {
  padding-top: 80px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 50px;
}
#treejump form {
  margin-bottom: 20px;
}
#treejump input {
  display: inline-block;
  width: 50%;
}